div {
	width: 200px;
	height: 200px;
	background-color: blue;
	color: white;
	border: 5px dashed orange;
	border-radius: 5%;
	padding: 20px;
	display: inline-block;
	text-decoration: dashed;
}

body {
  background-image: url("https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png");
  z-index: 1;
}