<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
  <head>
    <title>USER</title>
    <div th:replace="/fragments/headlinks :: head-styles"></div>

  </head>
  <body>
    <div class="container">
			<div th:replace="fragments/navbar"></div>
			
				<h2>Profile for <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> - <span style="color: #00aced;">@</span><span th:text="${user.username}"></span></h2>

        <!-- Adding back broken date -->
        <h5>Joined <span th:text="${#dates.format(user.createdAt, 'MMMM dd, yyyy')}"></span></h5>

        <!-- LOGIC TO ADD A FOLLOW BUTTON TO TO A SPECIFIC USERS PAGE -->
        
        <form th:action="@{/follow/} + ${user.username}" th:if="${!followingStatus && !isSelfPage}" method="post">
          <button style="float:right" type="Submit" class="btn btn-md btn-success">Follow</button>
        </form>

        <form th:action="@{/unfollow/} + ${user.username}" th:if="${followingStatus && !isSelfPage}" method="post">
          <button style="float:right" type="Submit" class="btn btn-md btn-primary unfollow_btn">Following</button>
        </form>

				<div th:if="${not #lists.isEmpty(tweetList)}">
					<h3>Tweets</h3>
				</div>
				<div th:if="${#lists.isEmpty(tweetList)}">
					<h3>No Recent Tweets</h3>
        </div>

        
        
				
				<div class="list-group" th:each="tweet:${tweetList}">
					<div class="list-group-item list-group-item-action">
						<div class="d-flex w-100 justify-content-between">
							<h5>@<span th:text="${tweet.user.username}"></span> <span th:text="${#dates.format(tweet.createdAt, 'M/d/yy')}"></span></h5>
						</div>
							<p class="mb-1" th:utext="${tweet.message}"></p>
					</div>
				</div>

      </div>
    </div>
  </body>
</html>
