<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>

<body>

	<div th:replace="fragments/fragment :: navbar"></div>

	<main role="main">

		<div class="jumbotron">
			<div class="container">

				<h1 class="display-3">Tech Talent Store</h1>

				<p>This is a small e-commerce application that allows a user to purchase some of a few products that are offered here.</p>

				<p><a href="/about" class="btn btn-primary btn-large" role="button">Learn More &raquo;</a></p>

			</div>
		</div>

		<div class="container">
			<div class="row">

			</div>
		</div>

	</main>

	<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>