<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div th:fragment="navbar">
      <nav class="row navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/tweets" class="navbar-brand" style="color: #00aced">
              <i class="fab fa-twitter"></i>
              Tech Talent Twitter
            </a>
          </div>
          <div id="navbar">
            <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
              <li><a href="/tweets">Home</a></li>
              <!-- Adding link to users page -->
              <li><a href="/users">Users</a></li>
              <li><a href="/tweets/new">New Tweet</a></li>
            </ul>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="isAuthenticated()">
              <a style="pointer-events: none; color: #00aced"
                >@<span sec:authentication="name"></span
              ></a>
            </li>
            <li sec:authorize="isAuthenticated()">
              <a href="../logout">Logout</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
              <a href="../login">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
