<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="fragments/styling :: headStyles"></div>
  </head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Your post was deleted. Goodbye</h2>

        </div>
      </div>

			<div class="row">
				<div class="col-md">
					<a th:href="@{/}">
						<button class="btn btn-success">Back to home</button>
					</a>
					<a th:href="@{/blogpost/new}">
						<button class="btn btn-success">Create Another Blog Post</button>
					</a>
				</div>
			</div>
		</div>

    <div th:replace="fragments/styling :: javascripts"></div>
  </body>
</html>
