<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="fragments/styling :: headStyles"></div>
  </head>
  <body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
      <h1>Edit Your BlogPost!</h1>
      <form
        action="#"
        th:action="@{/blogpost/{id}}"
        th:object="${blogPost}"
        method="post"
      >
        <div class="form-group">

					<input type="hidden" th:field="*{id}" />
            
            <input type="text" class="form-control mb-3" placeholder="Blog Title..."th:field="*{title}" />

            <input type="text" class="form-control mb-3" placeholder="Your Name Here..." th:field="*{author}" />

            <input type="text" class="form-control mb-3" placeholder="Blog Entry..." th:field="*{blogEntry}" />

            <button type="Submit" class="btn btn-primary">Submit Your Post</button>

      </form>
    </div>

    <div th:replace="fragments/styling :: javascripts"></div>

  </body>
</html>
