<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <div th:replace="fragments/styling :: headStyles"></div>

    
  </head>
  <body>
    
    
    <div class="container">
      <h1>Welcome to Our Blog Post Site!</h1>
      <div th:replace="fragments/navbar :: navbar"></div>
      <h3>Check out our blogs!</h3>

      <div class="row d-flex justify-content-around">

        <div th:each="blog:${posts}">
          <div class="card col-md-6 p-0 mb-3" style="min-width: 18rem">
            
            <h4 class="card-header" th:text="${blog.title}"></h4>

            <div class="card-body">

              <p class="card-text" th:text="${blog.blogEntry}"></p>
              <p class="card-text" th:text="${blog.author}"></p>

            </div>

            <div class="card-footer">
                <div class="form-group">
                  <a href="#" th:href="@{blogpost/edit/{id}(id=${blog.id})}" class="card-line btn btn-danger">Edit Post</a>
                  <a href="#" th:href="@{blogpost/delete/{id}(id=${blog.id})}" class="card-link btn btn-danger">Delete Post</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- <a th:href="@{/blogpost/new}">
        <button class="btn btn-primary">Create a new blog post</button>
      </a> -->
    </div>

    <div th:replace="fragments/styling :: javascripts"></div>

    
  </body>
</html>
